<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'student.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,800;1,400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link
        href="https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans:ital,wght@0,600;0,800;1,400&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body>
    <div class="header">
        <div class="rightheader">

            <img src={% static 'logo.png' %}>

        </div>
        <div class="search">
            <form action="/search"method=POST>
                {% csrf_token %}
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Go</button>
            </form>

        </div>
        <div class="leftheader">
            <ul>

                <li><a href="{% url 'studentpage'   %}">home</a></li>
                <li><a href="{% url 'contact'   %}">contact-us</a></li>
                <li><a href="{% url 'profile'   %}">profile</a></li>
                <li><a href="{% url 'logout'   %}">logout</a></li>


            </ul>
            {% for p in p %}
            <p>{{p}}</p>
            <img src={{p.profile_pic.url}}>
            {% endfor %}



        </div>
    </div>
    <div class="all">
        <div class="bodd">
          {% for q in q %}
            <div class="pcard">
                <img src="{{q.user.profile_pic.url}}">
                <div class="cards">
                    <h4 class="as">@{{q.user}}</h4>
                    <h4 class="as" style="margin-left: 400px;margin-top: -10px;">{{q.date}}</h4>
                    <h6>{{q.Title}}(<span style="color: blue;">{{q.cat_name}}</span>)</h6>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{q.discription}}
                    </p>
                    {% if q.image_q %}
            <img id="img-container" style="width:500px; height: 600px; border-radius: 0; margin-left:10px;"src={{q.image_q.url}} alt="...">

                    {% endif %}
               

                    {% endfor %}

                </div>
            </div>
            
            {% for d in d %}
          <span style="margin:150px; display: inline-content;" > <div class="pcard">
            {% for s in s %}
            {% if s.user == d.user %}
            <img src="{{s.profile_pic.url}}">
            {% endif %}
            
            {% endfor %}
            
            
           
            {% for t in T %}
            {% if t.user == d.user %}
            <img src="{{T.profile_pic.url}}">
            {% endif %}
            
            {% endfor %}
            {% for a in a %}
            {% if a.user == d.user %}
            <img src="{{a.profile_pic.url}}">
            {% endif %}
            
            {% endfor %}
         
            
                <div class="cards">
                    <h4 class="as">@{{d.user}}</h4>
                    <h4 class="as" style="margin-left: 400px;margin-top: -10px;">{{d.date}}</h4>
                    
                    
                
                   
                    <p style="margin-top:10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{d.answer}}
                    </p>
                    {% if d.image_a %}
            <img id="img-container" style="width:500px; height: 600px; border-radius: 0; margin-left:30px;"src={{d.image_a.url}} alt="...">

                    {% endif %}
                  
                    <form action=" likes/{{d.id}}  ">
                        

                       
                        

                    {% if request.user in d.liker  %}
                   
                    
                    <h5><span style="margin-top:0px;margin-left:510px;font-size:13px: background-color:transparent;" > <p style="font-size:19px; "> {{d.number_of_likes}}</p></span><button type="submit" class="bt"><i style="color:red;" class="bi bi-heart-fill"></i></button></h5></span>
                    
                    {% else%}
                    <h5><span style="margin-left:510px;font-size:13px: color:transparent;" > <p   style="font-size:19px; "> {{d.number_of_likes}}</p></span><button type="submit" class="bt"><i  style="color:balck; "class="bi bi-heart"></i></button></h5></span>
                 
                    {% endif %}
                    
                        
                     
                    </form>
                   

                </div>
            </div>
            
          </span>
            {% endfor %}
            <div class="ask">
                <h3>your Answers here</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                    {{form.as_p}}
              
                
                
           
                <button type="submit" class="btn btn-dark">Answer</button>
              
      </form></div>









        </div>



        <div class="footer">
            <ul>


                <li><a href="">
                        <ion-icon name="call"></ion-icon>
                    </a></li>
                <li><a href="">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a></li>
                <li><a href="">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a></li>
                <li><a href="">BY- Andualem Getachew</a></li>




            </ul>
        </div>
    </div>



</body>

</html>